* {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.text-center {
	text-align: center;
}

body {
    padding-top: 60px;
    background: #222222;
}

.corps {
    padding: 20px 0;
    background: white;
}

.navbar {
        background: #222222;
	border: none;
	border-radius: 0;
	padding: 5px;
	/*box-shadow: 0 0 5px;*/
}

.navbar a {
	color: white !important;
        margin: 0 5px;
	font-size: 20px;
}

.navbar a:hover, .navbar .active {
	background: white !important;
	color: #222222 !important;
}

.dropdown-menu a {
	color: #222222 !important;
        font-size: 16px;
}

.dropdown-menu a:hover {
	background: #222222 !important;
	color: white !important;
}

.navbar_identification {
	width: 100%;
	text-align: center;
}

.navbar_identification > li {
	float: none;
	display: inline-block;
}

/*--------------Identification--------------*/
.bloc_identification {
	background: #222222;
	padding: 20px;
	border: 2px solid #222222;
	color: white;
        /*box-shadow: 0 0 5px 0 black;*/
}

.bloc_identification form button {
	color: black;
}

.bloc_identification a {
	color: white;
}



footer {
	background-color: #222222;
	color: white;
	padding: 10px;
	text-align: center;
}