* {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.text-center {
	text-align: center;
}

body {
    padding-top: 60px;
    background: #222222;
}

.btn:hover {
    border: solid 1px #CECECE;
}

.corps {
    padding: 20px 0;
    background: #eeeeee;
}

hr {
    border: none;
    border-bottom: 1px solid #aaaaaa;
}

a {
    text-decoration: none;
    color: inherit;
}

.bloc {
    background: white;
    margin: 20px 0;
    padding: 5px 20px 20px 20px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.navbar {
    background: #222222;
    border-radius: 0;
    padding: 5px;
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);*/
}

.navbar a {
	color: white !important;
        margin: 0 5px;
	font-size: 20px;
}

.navbar a:hover, .navbar .active {
	background: white !important;
	color: #222222 !important;
}

.dropdown-menu a {
	color: #222222 !important;
        font-size: 16px;
}

.dropdown-menu a:hover {
	background: #222222 !important;
	color: white !important;
}

.navbar_identification {
	width: 100%;
	text-align: center;
}

.navbar_identification > li {
	float: none;
	display: inline-block;
}

/*--------------Identification--------------*/
.bloc_identification {
	background: white;
	padding: 20px;
	color: #222222;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.bloc_identification form button {
	color: black;
}

.bloc_identification a {
	color: white;
}

.bloc_identification .btn {
	color: black;
}

.bloc_identification .btn:hover {
	color: white;
}

/*--------------Page user--------------*/
.publier {
    padding: 20px;
}

.publication {
    padding: 0;
    margin: 20px 0;
}

.publication img, .publication video {
    max-width: 400px;
}

div.publication .contenu {
    padding: 10px;
    text-align: center;
}

div.publication .infos {
    padding: 10px;
    background: #CCCCCC;
    text-align: right;
}

div.publication .infos, div.publication .infos a {
    color: black;
}

/*--------------Page ami--------------*/
.commenter {
    padding: 20px;
    background: white;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.commentaire {
    margin: 20px 0;
    padding: 0;
    background: white;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.commentaire .entete {
    padding: 10px;
    background: #CCCCCC;
    text-align: right;
    color: black;
}

.commentaire .contenu {
    padding: 10px;
}

/*--------------Chat--------------*/
#fenetre_chat {
    padding: 10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.messageMoi {
    text-align: right;
    background: #4267B2;
    padding: 5px;
    margin:  0 0 0 65%;
    border-radius: 10px;
}

.messageAmi {
    text-align: left;
    background: #EEEEEE;
    padding: 5px;
    margin:  0 65% 0 0;
    border-radius: 10px;
}




footer {
    color: white;
    padding: 10px;
    text-align: center;
}